/**
 *	Display Code - backend css
 *
 */

div.display_code_container {
	margin-bottom:12px !important;
	padding-top:20px;
	padding-left:20px;
	width: 100%;
    display: flow-root;
}
h3.display_code {
	margin-top:20px;
}

form.display_code {
	margin-top:10px;
	float:left;
}

form.display_code input[type='text'] {
	width: 90%;
    border: 1px solid darkgray;
}

form.display_code select {
	width:200px;
	margin-top:4px;
}

label.display_code {
	color: #990000;
}

.display_code div.segment {
	float:left;
	width: 100%;
	margin-bottom: 5px;
}

.display_code div.left {
	float:left;
	width: 20%;
	text-align:right;
	padding-right: 10px;
	padding-top: 5px;
	vertical-align: top;
}

label.display_code_group_id {
    width: 64px !important;
    text-align: right !important;
}
.display_code_message {
	width:100%;
/*	min-height: 30px; */
	background-color: #229900;
	text-align: center;
	margin-left:-10px;
	color: #FFFFFF;
	padding-top:12px;

	visibility:hidden;
	display: none;

	border: 1px solid #888888;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	
}
.display_code_error{
	background-color: #AA2200;
}

.display_code div.right {
	float:left;
	width: 70%;
	text-align: left;
	padding-left:1px;
}

.dc_subgroup { color: #009900 !important; }

.display_code input[type="submit"],
.display_code input[type="button"]{
	width:120px;
	margin-right:12px;
	margin-top:5px;
}

.display_code textarea {
	width: 90%;
	min-height: 100px;
    padding: 10px;
    line-height: 1.5em;
    font-family: monospace;
    font-size: 12px;
}

textarea.desc {
	min-height: 100px;
}

textarea.source {
	min-height: 280px;
}