/**
 *	Display Code - frontend css
 *
 */

p.display_code_title {
	font-weight: bold;
	font-size:14px !important;
	margin-top: 22px;
}

p.display_code_desc {
	font-style: italic;
	font-size: 12px !important;
	line-height: 1.6em;
	color: #999999;
	font-family: Georgia, serif;
	display: block;
	margin-left:20px;
	max-width: 50%;
	margin-bottom:20px;
	white-space: pre;
	letter-spacing: 0.08em;
}

pre.display_code {
	color:#000000;
	background-color: #edeae5;
	display:block;
	line-height:1.4em;
	white-space: pre;
	font-family: monospace;
	font-size: 12px !important;
	letter-spacing: 0.05em;
	border: 1px solid #888888;
	
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;

	padding: 10px 25px 16px 15px;
	margin-bottom:20px;
}

/**
 *	color code
 */
span.comment, span.commentline {
	color:#ea9927;
	display: inline-block;
}
span.vars {
	color:#6b72d0;
}
span.str {
	color:#b5664c;
}
span.keywords {
	color:#0000FF;
	font-weight:bold;
}
span.lepton {
    color: #1C7915;
    letter-spacing: 0.05em;
}

span.php_self {
    color: #5fbabb;
    font-style: italic;
}

ol.ln {
	list-style-type:decimal;
	list-style-position: outside;
/*    color: #b2b2b2; */
}

div.box {
	display: inherit;
	float: inherit;
	width: 100%;
	height: auto;
	text-decoration: none;
	outline: 1px solid #DDDDDD !important;
	padding: 10px 12px 32px 12px;
}

div.display_code,
code.display_code {
	white-space: pre;
	font-family: monospace;
	font-size: 12px;
	line-height: 1.4em;
	border:0;
	outline: 0;
}

.display_code_caption {
    font-style: italic;
    font-size: 11px !important;
    color: #888888;
    width:100%;
    text-align: center;
}

.display_code_see_also {
    padding-left: 23px;
}

.display_code_last_edit {
    width: 100%;
    text-align: right;
    color: silver;
    font-size: x-small;
}
/** color pattern **/
pre.display_code.mono_black {
	color: #000000;
	background-color: #FFFFFF;
}

span.comment.mono_black, span.commentline.mono_black {
	color: #ea9927;
}

span.vars.mono_black {
	color: #000000;
}

span.str.mono_black {
	color: #000000;
}

span.keywords.mono_black {
	color: #000000;
}

pre.display_code.mono_gray {
	color: #666666;
	background-color: #edeae5;
}

span.comment.mono_gray, span.commentline.mono_gray {
	color: #666666;
}

span.vars.mono_gray {
	color: #666666;
	background-color: #CCCCCC;
	padding: 2px;
}

span.str.mono_gray {
	color: #666666;
}

span.keywords.mono_gray {
	color: #666666;
}

pre.display_code.aldus1 {
	color: #000000;
	background-color: #edeae5;
}

span.comment.aldus1, span.commentline.aldus1 {
	color: #ea9927;
}

span.vars.aldus1 {
	color: #6b72d0;
}

span.str.aldus1 {
	color: #880000;
}

span.keywords.aldus1 {
	color: #000000;
	font-weight: normal;
}

span.tags { color:#337233; }

/* New in 0.3.0 */
.dc_group_description {
    color: #999999;
    padding-left:23px;
    font-style: italic;
    margin-bottom: 23px;
}
.dc_item_description {
    color: #999999;
    padding-left: 33px;
}
span.dc_loopIndex {
    color: #990000;
    margin-right: 6px;
}
span.dc_loopIndex::after {
    content: ". ";
}

p.dc_page_label {
	letter-spacing: 0.06em;
}
p.dc_page_label:before {
	content: "- ";
}

p.dc_list_item_title {
/*	margin-top: 12px; */
}

div.dc_list_box {
	margin-bottom: 35px;
}
